extends ./layout.pug
block contenido
  form(action="/users", method="POST")
    div(class="form-group")
      label(for="email") Email
      input(type="text", name="email", placeholder="Email", id="email" class="form-control")
      small(id="emailHelp" class="form-text text-muted") Nunca compartiremos tu email con nadie.
    div(class="form-group")
      label(for="password") Password
      input(type="password", name="password", placeholder="Password", id="password" class="form-control")
      small(id="emailHelp" class="form-text text-muted") Tu contrasena esta segura con nosotros.
  
