html
  read
    title Mi primera pagina con Express
  body
    - var arreglo = [1,2,3,4,5];
    /*el programa puede usar for, case, if, each item in arreglo  */
    - for (var i = arreglo.length - 1; i>=0; i--)
      p!= "<h1>"+arreglo[i]+"<h1>"
      p Hola #{arreglo[i]}
      p.
        Hola haz click en #[a(href="codigofacilito.com") este link] por favor
